/*INDEX*/
.collection{
    margin: 2% 40% 1% 40%;
}

/*HEADER*/
nav{
    background-color: #00796b;
}
nav .brand-logo, nav ul a{
    color: #fff;
}
    
/*FOOTER*/
.page-footer{
    background-color: #00796b;
}
.body-index{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

/*PARALLAX*/
.parallax-container{
    height: 700px;
}

/*ICONE*/
.material-icons.fotocamere{
    font-size: 5rem;
}

/*CONTENUTO*/
.btn-center{
    text-align: center;
    margin: 5% 0 3% 0;
}
.div.blocks{
    margin: 0 15% 0 15%;
}
#titolo{
    color: #ff9800;
}
#btnlogout{
    background-color: #ff9800;
}

/*BANNER*/
.wrapper-banner{
    width: 100%;
    overflow: hidden;
}
.container-banner{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.img-banner{
    width: 100%;
}
.text-banner{
    position: absolute;
    top: 13%;
    left: 2em;
    width: 100%;
    color: #fff;
}

/*MODAL*/
#popup-login{
    width: 30%;
    height: 20%;
}

/*GO TO TOP*/
.fixed-action-btn {
    display: none;
}
