<footer class="page-footer grey lighten-3">
    <div class="container footer" style="width: 90%">
        <div class="row">
            <div class="col s10 l2">
                <h5 class="footer-title">INFORMAZIONI</h5>
                <p class="footer-desc text-lighten-4">
                    Questa tesina è stata creata tramite il framework Materialize, ed è hostata presso il sito 000webhost.
                </p>
            </div>
            <div class="col s10 l2 offset-l1">
                <h5 class="footer-title">COLLEGAMENTI</h5>
                <ul>
                    <li><a class="footer-desc text-lighten-3" href="https://material.io/icons/" target="_blank">Pagina delle icone</a></li>
                    <li><a class="footer-desc text-lighten-3" href="http://materializecss.com" target="_blank">Sito web del framework</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.000webhost.com" target="_blank">Servizio di hosting</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://databases.000webhost.com/" target="_blank">Pagina di controllo database</a></li>
                </ul>
            </div>
            <div class="col s10 l2">
                <h5 class="footer-title">FONTI</h5>
                <ul>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Fotocamera" target="_blank">Fotocamera</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Fotocamera_digitale" target="_blank">Fotocamera digitale</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Visione_notturna" target="_blank">Fotocamera notturna</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Fotocamera#Fotocamere_Autovelox" target="_blank">Fotocamera ad alta velocità</a></li>               
                </ul>
            </div>
            <div class="col s10 m2">
                <h5 class="footer-title" style="color: #eee">-</h5>
                <ul>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Termocamera" target="_blank">Fotocamera termica</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Strioscopia" target="_blank">Fotocamera strioscopica</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://it.wikipedia.org/wiki/Raggi_X" target="_blank">Fotocamera a raggi-x</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://en.wikipedia.org/wiki/Light-field_camera" target="_blank">Fotocamera plenottica</a></li>                         
                </ul>
            </div>
            <div class="col s10 m3">
                <h5 class="footer-title" style="color: #eee">-</h5>
                <ul>
                    <li><a class="footer-desc text-lighten-3" href="http://www.bbc.com/news/technology-16163931" target="_blank">Fotocamera 1 milione di frame</a></li>
                    <li><a class="footer-desc text-lighten-3" href="http://web.media.mit.edu/~raskar/trillionfps/" target="_blank">Immagini fotocamere milioni di frame</a></li>
                    <li><a class="footer-desc text-lighten-3" href="https://petapixel.com/2017/05/01/worlds-fastest-camera-shoots-5-trillion-frames-per-second/" target="_blank">Fotocamera 5 milioni di frame</a></li>     
		    <li><a class="footer-desc text-lighten-3" href="https://marcocrupifoto.blogspot.it/2011/04/lavvento-del-digitale-storia-della.html" target="_blank">Origine della fotocamera moderna</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="color: #444">
            © 2017 Nicola Spadari
            <a class="text-lighten-4 right" href="https://github.com/NicolaSpadari/Tesina/" target="_blank" style="color: #444">Repository di GitHub</a>
        </div>
    </div>
</footer>
